<%- include('partials/headerMain') -%>
<section class="secundaryNavegation">
    <ul>
        <li><a href="/college/inbox">Inbox</a></li>
        <li><a href="/college/projects">Projects</a></li>
        <li><a href="/college/tasks">Tasks</a></li>
        <li><a href="/college/goals">Goals</a></li>
        <li><a href="/college/Dashboard">Dashboard</a></li>
    </ul>
</section>
<%- include('partials/footer') -%>
