<%- include('partials/headerMain') -%>
<section class="secundaryNavegation">
    <ul class="flex items-center gap-12">
        <li><a href="/personal/inbox">Inbox</a></li>
        <li><a href="/personal/projects/inprogress">Projects</a></li>
        <li><a href="/personal/tasks">Tasks</a></li>
        <li><a href="/personal/goals">Goals</a></li>
        <li><a href="/personal/Dashboard">Dashboard</a></li>
    </ul>
    <hr>
</section>
<%- include('partials/footer') -%>
