<%- include('partials/headerMain') -%>
<section class="secundaryNavegation">
    <ul>
        <li><a href="/work/inbox">Inbox</a></li>
        <li><a href="/work/projects">Projects</a></li>
        <li><a href="/work/tasks">Tasks</a></li>
        <li><a href="/work/goals">Goals</a></li>
        <li><a href="/work/Dashboard">Dashboard</a></li>
    </ul>
</section>
<%- include('partials/footer') -%>
