 <footer>
    <section>
        <div>
            <div>
                <a href="/"><i>logo</i><img src="" alt="logo"></a>
            </div>
        </div>
        <div>
            <div><a href="">Terms & conditions</a></div>
            <div><a href="">Privacy Policy</a></div>
            <div><a href="">License</a></div>
        </div>
    </section>
 </footer>
</body>
</html>