 <footer>
    <section>
        <div>
            <div>
                <a href="/"><img src="/imgs/third-brain.png" alt="logo" class="h-13 w-40"></a>
            </div>
        </div>
        <div>
            <div><a href="">Terms & conditions</a></div>
            <div><a href="">Privacy Policy</a></div>
            <div><a href="">License</a></div>
        </div>
    </section>
 </footer>
 <script src="/js/main.js"></script>
</body>
</html>