<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Thrid Brain</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon-32x32.png"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baumans&family=Montserrat:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="bg-mainn text-color">
    <header>
      <nav class="flex items-center gap-12">
        <div>
            <a href="/"><img src="/imgs/third-brain.png" alt="logo" class="h-13 w-40"></a>
        </div>
        <a href="/logout"><button>Log Out<i></i></button></a>
      </nav>
    </header>
    <main>
        <section class="mainNavegation">
            <ul class="flex items-center gap-12">
                <li><a href="/main/personal"><i></i>Personal</a></li>
                <li><a href="/main/work"><i></i>Work</a></li>
                <li><a href="/main/college"><i></i>College</a></li>
            </ul>
            <hr>
        </section>
    </main>
  </body>
</html>