<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thrid Brain</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon-32x32.png"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header class="container">
      <div>
        <nav>
            <ul>
                <li><a href="#features">Features</a></li>
                <li><a href="">Who i am?</a></li>
                <i><img src="" alt="logo"></i>
                <li><a href="/signup">Sign up</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
      </div>
    </header>
    <main class="container">
        <section>
            <div>
                <h1>Third Brain</h1>
                <p></p>
                <div>
                    <a href=""><button>Login</button></a>
                    <a href=""><button>Sign up</button></a>
                </div>
            </div>
            <div>
                <img src="" alt="responsive image">
            </div>
        </section>
        <section class="features">
                <div>
                    <div>
                        <h3></h3>
                    </div>
                    <div>
                        <div><i></i>
                            <h4></h4>
                            <span></span>
                        </div>
                        <div>
                            <i></i>
                            <h4></h4>
                            <span></span>
                        </div>
                        <div>
                            <i></i>
                            <h4></h4>
                            <span></span>
                        </div>
                    </div>
                </div>
        </section>
        <section class="whoIAm">
            <div>
                <h3></h3>
                <div>
                    <div>
                        <img src="" alt="">
                        <span></span>
                        <span></span>
                        <div>
                            <p></p>
                            <div>
                                <a href=""><i></i></a>
                                <a href=""><i></i></a>
                                <a href=""><i></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
                <div>
                    <h2></h2>
                    <p></p>
                    <a href="/signup"><button></button></a>
                </div>            
        </section>
    </main>
  </body>
</html>

<%- include('partials/footer') -%>